* {
    margin: 0;
    padding: 0;
}
body{
    color: #ffffff;
    background-color: #262626;
    margin-top: 130px;
}

.topnav {
    top: 0;
    z-index: 0;
    width: 100%;
    background-color: black;
    display: block;
    position: fixed;
    overflow: hidden;  }

.topnav .logo{
    text-align: center;
    width: 60px;
    font-size: 19px;
    border: 1px solid white;
    margin: 0 auto;
    padding: 7px 5px;
}

.topnav .logo span:hover{
  background-color: gray;

}


.topnav a {
    color: white;
    float: left;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border: 5px;
    list-style-type: none;
    margin: 10px 20px 10px 30px;
    padding: 7px 5px;
}
.topnav a:hover {
    transition: 0.4s;
    background-color: grey;
    color: black;
    border-style: double;
    border-color: white;
    border-radius: 10% / 40%;
}

.pic{
    z-index: 1;

}

.pic img{
    margin-top: -70px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 1;
}


.center {
    text-align: center;
    margin: 0 auto;
    height: 70%;
    width: 80%;
    background: url("images/interlaced.png");
    background-size: 100%;
    color: black;
}

.center span{
    font-size: 18px;
    line-height: 250px;
    display: inline-block;

}

