* {
    margin: 0;
    padding: 0;
}

.center {
    background: url("../images/main-bg.jpg") center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    text-align: center;
    top: 0;
    height: 800px;
    width: 100%;
    opacity: 0.85;
    color: black;
    overflow-x: hidden;
}


.center h1{
    font-family: 'Indie Flower', cursive;
    margin-top: 270px;
    font-size: 50px;
    margin-bottom: 30px;
}
.center h2{
    font-family: 'Shadows Into Light', cursive;
}

.section2{
    background-color: #829e89;
    border-top: 2px solid;
    margin-top: 800px;
    width: 100%;
    text-align: center;
}
.section2 h1{
    color: #3b2921;
    font-family: 'Lobster', cursive;
    margin-top: 30px;
    font-size: 40px;
}

.intro{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 95vw;
    height: 350px;
    margin: 0 auto;
}

.intro p{
    align-self: center;
    font-family: 'Animac SC', cursive;
    margin: 50px auto;
    font-size: 20px;
    width: 50vw;
}

.intro img{
    display: block;
    max-width: 300px;
    max-height: 350px;
    margin-right: 50px;
}
.my-offers{
    width: 95vw;
    height: 350px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.my-offers p {
    margin-top: 20px;
}
.offer1{
    font-family: 'Animac SC', cursive;
    text-align: center;
    margin-top: 30px;
    width: 40vw;
    font-size: 18px;
    flex-shrink: 1;
}
.offer2{
    font-family: 'Animac SC', cursive;
    text-align: center;
    margin-top: 30px;
    width: 40vw;
    font-size: 18px;
    flex-shrink: 1;
}


.check-work{
    margin: 0 auto;
    width: 95px;
    border: 1px solid;
    padding: 20px;
    border-radius: 35% 70%;
}
.check-work a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

footer{
    padding: 10px;
    background-color: #829e89;
}



@media (max-width: 900px){
    .intro{
        height: auto;
        flex-direction: column;
    }
    .intro p {
        width: 80vw;
    }
    .intro img{
        margin: 0 auto;
    }
    .my-offers{
        height: auto;
        width: 100vw;
    }
    .offer1{
        width: 45vw;
    }
    .offer2{
        width: 45vw;
    }
}

@media (max-width : 750px) {
    .my-offers{
        flex-direction: column;
        align-items: center;
    }
    .offer1{
        width: 85vw;
    }
    .offer2{
        width: 85vw;
    }

    @media (max-width: 600px){
        .center h1{
            font-size: 40px;
            margin-top: 300px;
        }
        .intro{
            font-size: 15px;
        }
        
    }
  
@media (max-width: 430px){
    .offers1{
        font-size: 10px;
    }
    .offers2{
        font-size: 10px;
    }
    .center h1{
        font-size: 35px;
    }
    .center h2{
        font-size: 20px;
    }
}
